<% unless comment.archived? %>
<div class="row d-flex">
  <div class="col-md-8 col-lg-6">


        <div class="card mb-4">
          <div class="card-body">
            <p><%= comment.body %></p>

            <div class="d-flex justify-content-between">
            
                <p class="small mb-0 ms-2"><%= comment.commenter %></p>          
                <p>
                    <%= link_to "Destroy Comment", [comment.article, comment], data: {
                      turbo_method: :delete,
                      turbo_confirm: "Are you sure?"
                    } %>
                </p>
  
            </div>
          </div>
        </div>
   
      </div>
    </div>
  </div>
</div>

<% end %>