nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  = link_to "Articles", root_path, class: "navbar-brand"
  button.navbar-toggler type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
    span.navbar-toggler-icon

  div.collapse.navbar-collapse#navbarNav
    ul.navbar-nav.mr-auto
      li.nav-item
        = link_to "Categories", categories_path, class: "nav-link"

      - if user_signed_in?
        li.nav-item
          = link_to "Add Category", new_category_path, class: "nav-link"

        li.nav-item
          = link_to "Add Article", new_article_path, class: "nav-link"

        li.nav-item
          = link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link"

        li.nav-item
          = link_to "Edit Profile", edit_user_registration_path, class: "nav-link"
      - else
        li.nav-item
          = link_to "Sign In", new_user_session_path, class: "nav-link"

        li.nav-item
          = link_to "Sign Up", new_user_registration_path, class: "nav-link"

    = form_tag(search_path, method: "get")
      div.input-group
        = search_field_tag :search, params[:search], placeholder: "Type", class: "form-control"
        div.input-group-btn.ml-3
          = button_tag "Search", class: "btn btn-primary", name: nil
