div.mt-5
  - if @article.image.attached?
    img src=url_for(@article.image) style="width: 100%; height: 300px;"

div
  .jumbotron.jumbotron-fluid
    .container
      h1.display-4
        h1= @article.title
      p.lead
        p= @article.body

div
  = link_to "Edit", edit_article_path(@article), class: "btn btn-primary"
  = link_to "Delete", article_path(@article), class: "btn btn-danger ml-2", 
  data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }

h2.mt-5 Comments
= render @article.comments

div.card.mt-3.container
  div.card-header
    h2 Add a comment:
  div.card-body
    = render 'comments/form'
