div.card.mt-3
  div.card-header
    h1 Categories

  div.card-body
    div.list-group.mt-4
      - @categories.each do |category|
          button.list-group-item.list-group-item-action type="button"
            div.d-flex.justify-content-between.align-items-center
              h5.mb-3
                = link_to category.name,category
              = link_to "Show this category", category , class: "btn btn-primary"
        
    = link_to "New category", new_category_path , class: "btn btn-primary mt-3"
  




